{% extends "layout.html" %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <h1>Login Page</h1>
    
    <!-- display form here -->
    <div class="container"> 
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }} <!-- this is a hidden field that is required for CSRF protection -->
            <img class="mb-4" src="https://static.vecteezy.com/system/resources/previews/003/423/831/non_2x/cute-cat-kitten-greeting-cartoon-doodle-background-wallpaper-free-vector.jpg" alt="(⓿_⓿)" style="width: 200px; height: 150px; margin-top: 10px; margin-bottom: 10px; border-radius: 50%; border: 2px solid white; padding: 5px; background-color: white;"/>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="username")}}
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="password") }}
            <br>

            <div class="checkbox mb-3">
                <h6> Don't have an account? <a href="{{ url_for('register') }}">Register</a></h6>
            </div>
            
            {{ form.submit(class="btn btn-outline-info") }}
        </form>
</body>
{% endblock %}